Repository sika-training-examples/2024-11-21-o2-gitlab-ci-examples: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Frontend, Build Backend

.gitlab-ci.yml:

# .gitlab-ci.yml

Build Frontend:
  script: echo Build Frontend ...
  rules:
    - changes:
        - frontend/**

Build Backend:
  script: echo Build Backend ...
  rules:
    - changes:
        - backend/**

Update 2 files
  frontend/a.js
Due: Build Frontend

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update 2 files
  backend/main.go
  frontend/a.js
Due: Build Frontend, Build Backend

Update file a.js
  frontend/a.js
Due: Build Frontend

feat: setup yarn
  .gitignore
  package.json
  yarn.lock
Due: none

Update 2 files
  .gitlab-ci.yml
  Dockerfile
Due: none

Update 2 files
  .gitlab-ci.yml
  test_example.py
Due: none

Update file test_example.py
  test_example.py
Due: none

Update file plan.json
  plan.json
Due: none

Update file yarn.lock
  yarn.lock
Due: none
